<div>
    <%= render partial: "shared/navbar" %>
</div>

<div class="container mx-auto px-4 py-6">
    <h2 class="text-3xl text-center font-semibold mb-2">My Borrowed Books</h2>
    <hr class="w-8 h-1 mx-auto my-2 bg-gray-100 border-0 rounded-sm md:my-2 dark:bg-gray-700">
    <% if @loans.empty? %>
    <div class="flex flex-col items-center mt-6">
        <p class="text-gray-700 text-center">You currently have no borrowed books.</p>
        <%= image_tag "not-found.svg", alt: "No Borrowed Books", class: "mt-6" %>
    </div>
    <% else %>
    <div class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 gap-6 mt-6">
        <% @loans.each do |loan| %>
        <div class="block p-4 bg-white border border-gray-200 rounded-lg shadow-sm">
            <div class="flex items-center mb-2">
                <!-- Book SVG Icon -->
                <svg class="w-10 h-10 text-indigo-600 mr-4" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512">
                    <!--!Font Awesome Free 6.7.2 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license/free Copyright 2025 Fonticons, Inc.-->
                    <path fill="#363ab0" d="M96 0C43 0 0 43 0 96L0 416c0 53 43 96 96 96l288 0 32 0c17.7 0 32-14.3 32-32s-14.3-32-32-32l0-64c17.7 0 32-14.3 32-32l0-320c0-17.7-14.3-32-32-32L384 0 96 0zm0 
                384l256 0 0 64L96 448c-17.7 0-32-14.3-32-32s14.3-32 32-32zm32-240c0-8.8 7.2-16 16-16l192 0c8.8 0 16 7.2 16 16s-7.2 16-16 16l-192 0c-8.8 0-16-7.2-16-16zm16 48l192 0c8.8 0 16 7.2 16 16s-7.2 16-16 16l-192 0c-8.8 0-16-7.2-16-16s7.2-16 16-16z" />
                </svg>
                <h3 class="text-lg font-semibold text-gray-900 "><%= loan.book.title %></h3>
            </div>
            <p class="text-sm text-gray-500">
                Due Date: <%= loan.due_date.strftime("%B %d, %Y") %>
            </p>
            <%= button_to "Return", return_loan_path(loan), method: :post, class: "block mx-auto w-full sm:w-1/2 mt-4 bg-green-600 hover:bg-green-500 text-white px-3 py-2 rounded" %>
        </div>
        <% end %>
    </div>
    <% end %>
</div>